fastapi==0.125.0
uvicorn==0.40.0
starlette==0.50.0
jinja2==3.1.6
python-multipart==0.0.21

numpy==2.3.5
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.16.3
joblib==1.5.3
threadpoolctl==3.6.0

pydantic==2.12.5
typing-extensions==4.15.0
anyio==4.12.0
h11==0.16.0

requests==2.32.5
urllib3==2.6.2
certifi==2025.11.12
idna==3.11
charset-normalizer==3.4.4
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.3
packaging==25.0
six==1.17.0

pytest==9.0.2
pluggy==1.6.0
iniconfig==2.3.0
